 <h1 style="text-align:center;">SALOON MATATA</h1>

<hr>

  <div class="container">
      <a href="/salons/new"><button class="button btn-info">New Salon</button></a><br><br>
    <a href="/add"><button class="button btn-info">Add Client to a Salon</button></a>
    <!-- <a href="/salons"><button class="button btn-success">Salonists</button></a> -->

  </div>
