 <h1 style="text-align:center;">SALOON MATATA</h1>

<hr>

  <div class="container" style="text-align:center; padding-top:10% ; ">
      <a href="/salons/new"><button style=" padding-left:5%;  padding-right:5%;" class="button btn-info">New Salon</button></a><br><br>
</div>
      <div class="container two" style="text-align:center; padding-top:5%">
    <a href="/add"><button style=" padding-left:5%;  padding-right:5%; padding-top:5%  padding-bottom:5%;"  class="button btn-info">Add Client to a Salon</button></a>
    <!-- <a href="/salons"><button class="button btn-success">Salonists</button></a> -->

  </div>
