<h3>Clients</h3>
  <% if @salon.clients().any?() %>
    <h3> clients in this salon :</h3>  <ol>
      <% @salon.clients().each() do |client| %>
        <li><%= client.name() %></li>
      <% end %>
    </ol>
  <% else %>
 <p> No clients  Available yet!</p>
 <% end %>

  <hr>

  <div  style="padding-top:20%;"class="container ">
    <!-- <a href="/"><button class="button btn-info"> Home</button></a> -->

    <a href="/salons/new"><button style="margin-right:20%;" class="button btn-info"> Add New Salon </button></a>
    <a href="/add"><button class="button btn-success">Add a client to a Salon</button></a><br><br><br>
  </div>
