<h3>Clients</h3>
  <% if @salon.clients().any?() %>
    <h3>Here are all the clients in this salon with their due dates:</h3>  <ol>
      <% @salon.clients().each() do |client| %>
        <li><%= client.name() %></li>
      <% end %>
    </ol>
  <% else %>
 <p>There are no clients yet!</p>
 <% end %>

  <hr>

  <div class="container">
    <!-- <a href="/"><button class="button btn-info"> Home</button></a> -->
    <a href="/salons"><button class="button btn-success">Salonists</button></a>
    <a href="/salons/new"><button class="button btn-info">New Salonist without Client</button></a>
    <a href="/add"><button class="button btn-success">Add a client to existing Salonist</button></a>
  </div>
