<h1> Add New Salonist</h1>

  <form action="/salons" method="post">
    <label for="name">Name:</label>
    <input id="name" name="name" type="text">

    <button  class="button btn-info" type="submit">Add</button>
  </form>

  <hr>
